body{
    background-color: #c29938;

    footer{
        text-align: center;
        bottom: 0;
        width: 100%;
        position: fixed;

    }
}

canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image: url('../Sprites/tausta.png');
}
#lukittulabel{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 44px;
    margin-left: -9em;
    margin-top: 7em;
}
#lukittu2label{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 44px;
    margin-left: -3em;
    margin-top: 7em;
}
#lukittu3label{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 44px;
    margin-left: 3em;
    margin-top: 7em;
}
#lukittu4label{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 44px;
    margin-left: 9em;
    margin-top: 7em;
}
#start {
    position: absolute;
    background-image: url('../Sprites/start.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 395px;
    height: 77px;
    margin-top: 15em;
}
#lukittuImg{
    visibility: hidden;
    position: absolute;
    background-image: url('../Sprites/lukittu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 27px;
    margin-left: -9em;
    margin-top: 0em;
}
#lukittu2Img{
    visibility: hidden;
    position: absolute;
    background-image: url('../Sprites/lukittu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 27px;
    margin-left: -3em;
    margin-top: 0em;
}
#lukittu3Img{
    visibility: hidden;
    position: absolute;
    background-image: url('../Sprites/lukittu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 27px;
    margin-left: 3em;
    margin-top: 0em;
}
#lukittu4Img{
    visibility: hidden;
    position: absolute;
    background-image: url('../Sprites/lukittu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 27px;
    margin-left: 9em;
    margin-top: 0em;
}
#value{
    position: absolute;
    background-image: url('../Sprites/score&coins.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 58px;
    margin-left: -11.5em;
    margin-top: -6em;
    p {
        font-family: 'Silkscreen', cursive;
        font-size: 40px;
        text-decoration: none;
        text-align: center;
        margin-top: 0em;
        color: black;
    }
}
#coins{
    position: absolute;
    background-image: url('../Sprites/coins.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99px;
    height: 58px;
    margin-left: -6em;
    margin-top: -6em;
    p {
        font-family: 'Silkscreen', cursive;
        font-size: 40px;
        text-decoration: none;
        text-align: center;
        margin-top: 0em;
        color: black;
    }
}
#bets{
    position: absolute;
    background-image: url('../Sprites/betvalue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 77px;
    margin-left: 18em;
    margin-top: 15em;
}
#reset{
    position: absolute;
    background-image: url('../Sprites/reset.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 77px;
    margin-left: -18em;
    margin-top: 15em;
}
#lukittu{
    visibility: hidden;
}
#lukittu2{
    visibility: hidden;
}
#lukittu3{
    visibility: hidden;
}
#lukittu4{
    visibility: hidden;
}
